<h1>New Question</h1>

<%= form_with model: @question, local: true do |form| %>
  <div>
    <%= form.label :content, "Question Content" %>
    <%= form.text_field :content %>
  </div>
  <div>
    <%= form.label :question_type, "Question Type" %>
    <%= form.select :question_type, options_for_select([['Text', 'text'], ['Radio', 'radio']]) %>
  </div>
  <div>
    <%= form.submit 'Create Question' %>
  </div>
<% end %>

<%= link_to 'Back', questions_path %>